/* Common */
body 
{
    background-color: #ffffff;
    float: left;
    width: 100%;
}

/* Header */
#header 
{
    background: url("Images/Page/PMlogo.png") no-repeat;
    padding: 5px 0px 5px 0px;
    height: 38px;
}

/*Login display*/
#loginDisplay 
{
    float: right;
    padding: 0px 20px 0px 0px;
    border: none;
}

/* Content */

/* Footer */
#footer 
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

    #footer a:link, a:visited, a:active 
    {
        color: #465c71;
        text-decoration: none;
    }

    #footer a:hover 
    {
        color: #26a0da;
        text-decoration: none;
    }

/* Main navigation */
nav 
{
    padding: 4px 0px 4px 8px;
    margin-left: 20px;
}

    nav ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        nav ul li a, nav ul li a:visited 
        {
            background-color: #FFFFFF;
            float: left;
            border: 1px #FFFFFF solid;
            color: #465c71;
            display: block;
            line-height: 1.35em;
            padding: 2px 5px;
            text-decoration: none;
            white-space: nowrap;
        }

            nav ul li a:hover 
            {
                background-color: #FFFFFF;
                color: #26a0da;
                text-decoration: none;
            }

            nav ul li a:active 
            {
                background-color: #FFFFFF;
                color: #cfdbe6;
                text-decoration: none;
            }

/*Universal Html.TextBox parameters*/
.TextBox 
{
    width: 80px;
    vertical-align: middle;
}

.RegBox 
{
    width: 160px;
    vertical-align: middle;
}

.RegForm 
{
    padding: 2px 0px 2px 0px;
}
