/* Common */
body 
{
    background-color: #ffffff;
    float: left;
    width: 100%;
}

/* Header */
#header 
{
    background: url("Images/Page/PMlogo.png") no-repeat;
    padding: 5px 0px 5px 0px;
    height: 38px;
}

/*Login display*/
#loginDisplay 
{
    float: right;
    padding: 0px 20px 0px 0px;
    border: none;
}

/* Content */
#content 
{
    width: 100%;
    margin-top: 15px;
    margin-left: 34px;
}

/* Footer */
#footer 
{
    color: #4e5766;
    padding: 20px 0px 0px 0px;
    text-align: center;
    line-height: normal;
}

    #footer a:link, a:visited, a:active 
    {
        color: #465c71;
        text-decoration: none;
    }

    #footer a:hover 
    {
        color: #26a0da;
        text-decoration: none;
    }

/* Main navigation */
nav 
{
    padding: 4px 0px 4px 8px;
    margin-left: 20px;
}

    nav ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        nav ul li a, nav ul li a:visited 
        {
            background-color: #FFFFFF;
            float: left;
            border: 1px #FFFFFF solid;
            color: #465c71;
            display: block;
            line-height: 1.35em;
            padding: 2px 5px;
            text-decoration: none;
            white-space: nowrap;
        }

            nav ul li a:hover 
            {
                background-color: #FFFFFF;
                color: #26a0da;
                text-decoration: none;
            }

            nav ul li a:active 
            {
                background-color: #FFFFFF;
                color: #cfdbe6;
                text-decoration: none;
            }

/*Universal Html.TextBox parameters*/
.TextBox 
{
    width: 80px;
    vertical-align: middle;
}

.RegBox 
{
    width: 160px;
    vertical-align: middle;
}

.RegForm 
{
    padding: 2px 0px 2px 0px;
}

.Fieldset 
{
    color: red;
    width: 220px;
}

.ShadowBox
{
	-moz-box-shadow: 4px 4px 4px #afafaf;
	-webkit-box-shadow: 4px 4px 4px #afafaf;
	box-shadow: 4px 4px 4px #afafaf;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#afafaf')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#afafaf');
}

/*User profile specific*/
#featured 
{
    width: 100%;
    float: left;
}
#container 
{
    width:100%;
    float:left;
    margin-bottom: 20px;
}

.UserMedia 
{
    float: left;
}
.UserRelated 
{
    float: left;
    width: 460px;
    margin-left: 20px;
}
.UserInfo 
{
    float: left;
    margin-left: 20px;
    width: 200px;
}
.UserGuestBook 
{
    margin-top: 20px;
    width: 460px;
    height: 300px;
}

/*Silverlight specific*/
.SLContainer 
{
    width:460px; 
    height: 290px; 
}
