@model IEnumerable<PEAmedia.Web.Models.Profile_Comment>      
@foreach (var item in Model)
{ 
    <div id="commentHead">
        @item.Sender wrote on @item.Date.ToLocalTime()
    </div>
    <div id="commentTitle">
        @item.Title
    </div>
    <div id="commentBody">
        @item.Entry
    </div>
    <div id="commentControls">
        Reply | Bookmark
    </div>
    <div id="reply">
        Replies to comments go here.
    </div>
}