@model VideoStream.Models.UserModel

@{
    ViewBag.Title = "Messenger";
    Layout = null;
}

<div class="PopUp ShadowBox">
    <div id="messengerNav">
        New | Inbox | Sent
    </div>
    <div id="messengerInbox">
        Inbox. Messages listed from newest to oldest.
    </div>
    <div>
        Additional controls.
    </div>
</div>