@model VideoStream.Models.UserModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true, "User registration incomplete. Please check your input data.");
    <div>
        <fieldset>
            <legend>
                User account registration
            </legend>
            <div class="RegForm">
                @Html.TextBoxFor(u => u.userName, new { placeholder = "Username", @class = "RegBox" })
            </div>
            <div class="RegForm">
                @Html.TextBoxFor(u => u.email, new { placeholder = "e-mail", @class = "RegBox" })
            </div>
            <div>
                @Html.TextBoxFor(u => u.password, new { placeholder = "Password", @class = "RegBox" })
            </div class="RegForm">
            <div class="RegForm">
                <input type="submit" value="Go!" />
            </div>
        </fieldset>
    </div>
}
