<p>General comment. Placeholder for content.</p>
<div id="commentDetails">
    <!--Placeholder for the comment author, time, etc-->
</div>
<div id="commentActions">
    <!--User operations-->
    Delete | Hide | Rate
</div>
<div id="commentBody">
    <!--Placeholder for the comment text-->
    This is the frame into which the comment will be imported from the database.
</div>