@model VideoStream.Models.UserModel

@{
    ViewBag.Title = "Messenger";
    Layout = null;
}

<div class="PopUp ShadowBox">
    <div id="messengerNav">
        @Ajax.ActionLink("Inbox", "_Inbox", "U2U", new AjaxOptions { UpdateTargetId = "messengerBody" })
        <span>|</span>
        @Ajax.ActionLink("New", "_Compose", "U2U", new AjaxOptions { UpdateTargetId = "messengerBody" })
        <span>|</span>
        @Ajax.ActionLink("Sent", "_Sent", "U2U", new AjaxOptions { UpdateTargetId = "messengerBody" })
    </div>
    <div id="messengerBody">
        @Html.Partial("_Inbox")
    </div>
    <div>
        Additional controls.
    </div>
</div>