@{
    ViewBag.Title = "PEAmedia Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Helpers.SilverLightHostControl("/ClientBin/MediaPlayer.xap")
    @Html.ActionLink("Profile", "UserProfile", "Home")
</div>
