@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="featured">
    <h2>
        Featured
    </h2>
</div>
<div class="UserMedia">
    <div class="SLContainer">
        @Helpers.SilverLightHostControl("/ClientBin/MediaPlayer.xap")
    </div>
    <div id="userGuestbook" class="UserGuestBook ShadowBox">
        <div id="addEntry">
            @if(Request.IsAuthenticated)
            {
                @Ajax.ActionLink("New ", "_Compose", "U2U", new AjaxOptions { UpdateTargetId = "addEntry" })
            }
        </div>
        <div id="entries">
            @Html.Action("_Comment", "U2U")
        </div>
    </div>
</div>
<div class="UserRelated ShadowBox">
    Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here Related content goes here 
</div>
<div class="UserInfo ShadowBox">
    Primary user information. Position: left. Content: User avatar, username, optionals (Age, sex, location), profile comment
</div>